.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 360px;
  padding: 8px;
  border: 1px solid #262626;
  border-radius: 8px;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
